<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CorporateSite_Base ANY>
<!ATTLIST CorporateSite_Base id ID #REQUIRED>
<!ELEMENT CorporateSite_Home ANY>
<!ATTLIST CorporateSite_Home id ID #REQUIRED>
<!ELEMENT CorporateSite_Interior ANY>
<!ATTLIST CorporateSite_Interior id ID #REQUIRED>
<!ELEMENT ModernStormSolutions_Base ANY>
<!ATTLIST ModernStormSolutions_Base id ID #REQUIRED>

]>
<root id="-1">
  <CorporateSite_Home id="1070" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="0" createDate="2011-04-13T14:53:13" updateDate="2011-04-13T14:54:34" nodeName="SmallBusinessWebsiteSolutions" urlName="smallbusinesswebsitesolutions" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1070" isDoc="">
    <pageTitle>Small Business Website Solutoins of Kansas City</pageTitle>
    <pageSummaryLabel>
    </pageSummaryLabel>
    <pageSummary><![CDATA[]]></pageSummary>
    <CorporateSite_Interior id="1073" parentID="1070" level="2" writerID="0" creatorID="0" nodeType="1071" template="1072" sortOrder="1" createDate="2011-04-13T15:01:59" updateDate="2011-04-13T17:35:57" nodeName="Services" urlName="services" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1070,1073" isDoc="">
      <mainContent><![CDATA[<h1>Small Business Website Services</h1>
<p>Small Business Website Solutions of Kansas City provides end-to-end website solutions to our clients—from the initial web design to SEO and Social Media Marketing. We ensure that our solutions are user friendly, can be implemented and learned with little effort, and maximize visibility on the internet.</p>
<p>At Small Business Website Solutions of Kansas City each project is given special attention in order to meet your thorough requirements. We work very closely with our clients during requirement gathering stage to capture business needs.</p>
<ul>
<li>
<h2>Your new website starts with a consultation session to discover:</h2>
<ul>
<li>The overall objective/goal for the website</li>
<li>The target audience for your business’ website</li>
<li>How to pair a website with your company's marketing and business plan</li>
<li>The look and feel of your new site</li>
</ul>
</li>
<li>
<h2>Our team of web designers than get to work by:</h2>
<ul>
<li>Creating a design concept for your website</li>
<li>Submitting the concept to you for suggestions and approval</li>
<li>Creating the web code, html, for you website design</li>
</ul>
</li>
<li>
<h2>Our web developers finalize the initial launch or your website:</h2>
<ul>
<li>Put your content into the design concept</li>
<li>Setup analytic to show your return on investment</li>
<li>Create specialized SEO and Social Media campaigns to maximize visibility</li>
<li>Submit the site to you for final approval</li>
<li>Publish your website to the internet</li>
<li>Submit the website to all the major search engines</li>
</ul>
</li>
</ul>]]></mainContent>
      <pageTitle>Small Business Website Solutoins of Kansas City</pageTitle>
    </CorporateSite_Interior>
  </CorporateSite_Home>
  <ModernStormSolutions_Base id="1059" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="1" createDate="2011-04-05T00:36:28" updateDate="2011-04-05T00:54:55" nodeName="ModernStormSolutions" urlName="modernstormsolutions" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059" isDoc="">
    <pageTitle>Modern Storm Solutions</pageTitle>
    <pageContent><![CDATA[<div class="imageArea">
<div class="rotator"><img src="/templates/ModernStormSolutions/images/Houses/1.jpg" alt=" " style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Houses/2.jpg" alt=" " style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Houses/3.jpg" alt=" " style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Houses/4.jpg" alt=" " style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Houses/5.jpg" alt=" " style="width: 360px; height: 270px;"/></div>
<div style="height: 10px;"></div>
</div>
<p>We hope you can find everything you need. Modern Storm Solution is focused on providing                                         high-quality service and customer satisfaction - we will do everything we can to                                         meet your expectations.</p>
<p>With a variety of offering to choose from, we're sure you'll be happy working with                                         us look around our website and if you have any comments or questions, please fell                                         free to contact us. 1(877)677-6137.</p>
<p>Modern Storm Solution began in 1997 to provide quality service to both residential                                         and commercial customers.</p>
<p>Modern Storm Solution is committed to placing quality first at all times. We have                                         achieved this through constant onsite inspections if you would like more information                                         on our what we have to offer , visit our services Page or please contact our office.</p>
<p>Since it's beginnings Modern Storm Solution has grown into respected and admired                                         company that still maintains its original fundamental values. Modern Storm Solution                                         has now branched to many new areas of roofing.</p>
<p>Modern Storm Solution is a leader in providing value-added construction services                                         to our customers by creating a successful partnership with them throughout the construction                                         process.</p>
<p>Our pledge is to establish lasting relationships whit our customer by exceeding                                         their expectations and gaining their trust through exceptional performance by every                                         member of the construction team.</p>]]></pageContent>
    <ModernStormSolutions_Base id="1060" parentID="1059" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="1" createDate="2011-04-05T00:55:41" updateDate="2011-04-05T00:57:06" nodeName="Roofing" urlName="roofing" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059,1060" isDoc="">
      <pageTitle>Residental Roofing</pageTitle>
      <pageContent><![CDATA[<div class="imageArea">
<div class="rotator"><img src="/templates/ModernStormSolutions/images/Houses/1.jpg" alt="Gutters" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Houses/2.jpg" alt="Gutters" style="width: 360px; height: 270px;"/></div>
<div style="height: 10px;"></div>
</div>
<div>
<h2>Re-roofing - Tear off and Recovers</h2>
<p>Re-roofing is the process of installing a new roof when a roofing system fails. Roofing system failures can be caused by a number of factors, including age, severe weather, poor workmanship, defective materials, improper specification of a roofing system, abuse and failure to maintain the roof via inspections.</p>
</div>
<div>
<h2>Roof Repairs</h2>
<p>Repair is a process where an existing roofing system has additions and adjustments made to it, such as caulking, re-roofing and repairing penetration to fix leaks in the roofing system.                   We offer repairs for Homeowners, Real Estate Agents and Insurance claims.</p>
</div>
<div>
<h2>Maintenance</h2>
<p>Maintenance involves the physical inspection of an existing roofing system to determine it`s current condition, detect weakness and failures and identify any potential future problems. Through a program of regularly scheduled annual or semiannual inspections, the company`s technicians assist owner in protecting their roofing investments by seeking to identify damage in its early stages. Early detection of leaks and roof system failures make it possible for the company to repair and extend the life of a roof system, which is significantly less expensive and time consuming than re-roofing.</p>
</div>
<div>
<h2>Roofing Inspections</h2>
<p>This service provides a baseline examination of an existing roof condition.</p>
</div>]]></pageContent>
    </ModernStormSolutions_Base>
    <ModernStormSolutions_Base id="1061" parentID="1059" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="2" createDate="2011-04-05T00:57:36" updateDate="2011-04-05T00:58:58" nodeName="Gutters" urlName="gutters" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059,1061" isDoc="">
      <pageTitle>More Than Just Roofing</pageTitle>
      <pageContent><![CDATA[<div class="imageArea">
<div class="rotator"><img src="/templates/ModernStormSolutions/images/Gutters/gutters.jpg" alt="Gutters" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Gutters/install.jpg" alt="Gutters" style="width: 360px; height: 270px;"/></div>
<div style="height: 10px;"></div>
</div>
<p>Seamless gutters means there are no joints to leak. Our gutters are custom-made on the premises to fit your home.  We use only the heaviest gauge (.032") aluminum coils for your gutters Your seamless gutters are installed with hidden hangers, which are fastened using two (2) screws per hanger.</p>
<p>The finish on the materials is warranted not to blister, flake, chip, crack or peel for a period of twenty years.  As with all our installations, we warrant our workmanship to be free from defect for a period of five years.</p>
<strong> Key Benefits: </strong> 
<ul>
<li>No need to repaint year after year.</li>
<li>Aluminum doesn't rust like galvanized steel.</li>
<li>Aluminum is lighter than steel.</li>
<li>We use hidden hangers with screws instead of nails. Screws are less likely to come loose and don't require a hole in the face of the gutter system.</li>
<li>With no seams except at the corners you can be sure that there will be no leaks.</li>
<li>Gutters are offered in 14 different colors, which are baked on for a long, beautiful appearance. All finishes are guaranteed for 20 years to insure a long-lasting, beautiful finish.</li>
<li>5" and 7" aluminum seamless gutters.</li>
<li>Seamless guttering provides a more uniform appearance.</li>
</ul>]]></pageContent>
    </ModernStormSolutions_Base>
    <ModernStormSolutions_Base id="1062" parentID="1059" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="3" createDate="2011-04-05T00:57:46" updateDate="2011-04-05T00:59:45" nodeName="Siding" urlName="siding" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059,1062" isDoc="">
      <pageTitle>Vinyl Siding Specialist</pageTitle>
      <pageContent><![CDATA[<div class="imageArea">
<div class="rotator"><img src="/templates/ModernStormSolutions/images/Siding/2.jpg" alt="Siding" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Siding/4.jpg" alt="Siding" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Siding/5.jpg" alt="Siding" style="width: 360px; height: 270px;"/></div>
<div style="height: 10px;"></div>
</div>
<p>Originally introduced in the early 60's vinyl siding has become the most popular siding product in recent years. It has been estimated that vinyl siding is being used on as much as 40% of new construction in the United States! Typically patterned to offer a wood horizontal siding look vinyl is actually available in a number of different styles and a multitude of colors. Vinyl siding coloring is typically not painted on the exterior but is added during production meaning scratches will not reveal a different color underneath. While early versions of vinyl siding had a tendency to lose color or become brittle modern vinyl products have very long lasting color getting rid of the need to re-paint your home every 5-10 years as is necessary with several other materials. Vinyl siding is available in both seam and seamless versions. As with other materials the seamless siding is considered more attractive and better at repelling the elements.</p>
<p>Traditional vinyl siding has not been able to truly replicate the appearance of a solid wood siding. This failure can be traced to the fact that the vinyl siding was not solid however a new version of vinyl is now available. This version places a foam core behind the siding making the vinyl far more rigid and significantly increasing it's insulating value, from an R-value of less than 1.0 to 4.0. The additional rigidity also adds strength in situations where vinyl siding would have been likely to show damage from hail, golf balls, etc.. Nearly every manufacturer of vinyl siding offers a foam core version and while the cost is higher it is money well spent if you want to make certain your siding lays flat and stays that way over a long period of time.</p>
<img src="/images/Siding/diagram.gif" alt="Siding Diagram" align="left"/>
<p>Vinyl siding has enjoyed tremendous popularity in part due to the fact that it is sold as a "lifetime product with no maintenance". No product is maintenance free even if it only requires spraying off the grime that accumulates a few times a year. Without a doubt vinyl siding requires very little maintenance and is among the lower priced options on the siding costs scale but it is important that you realize vinyl will need to be repaired and or replaced eventually.</p>
<p>Vinyl siding is not without it detractors. Vinyl siding is made from Polyvinyl Chloride or PVC and is considered by many to be an environmental hazard since it is very difficult to dispose of in an ecologically friendly way. While environmentalists would like to do away with it vinyl siding seems destined to be a big part of the siding industry for the foreseeable future.</p>
<div class="clearfix"></div>
<br /> <br /> <br />]]></pageContent>
    </ModernStormSolutions_Base>
    <ModernStormSolutions_Base id="1063" parentID="1059" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="4" createDate="2011-04-05T00:57:54" updateDate="2011-04-05T01:01:13" nodeName="Hail Damage" urlName="hail-damage" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059,1063" isDoc="">
      <pageTitle>Do you have hail damage?</pageTitle>
      <pageContent><![CDATA[<div class="hail">
<div class="imageArea">
<div class="rotator"><img src="/templates/ModernStormSolutions/images/Hail/1.jpg" alt="Hail Damage" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Hail/2.jpg" alt="Hail Damage" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Hail/3.jpg" alt="Hail Damage" style="width: 360px; height: 270px;"/> <img src="/templates/ModernStormSolutions/images/Hail/4.jpg" alt="Hail Damage" style="width: 360px; height: 270px;"/></div>
<h2>Don't gamble with the equity in your home!</h2>
</div>
<p class="first">The equity in your home is not cosmetic! If you sell your home later the hail damage will be notes in the inspection and the buyer will want you to pay for a new roof out your pocket.</p>
<h4><span>Q.</span> How do you  know if you have hail damage?</h4>
<p><span>A.</span> if marble size or large hail hit your home then chances are there is assorted damage to screms, soft metal, roof vents, gutters, and roof shingles.</p>
<h4><span>Q.</span> That's just cosmetic damage. yor roof look fine from the groound...., why Modern Storm solution contractor recomended filing an insurance  claim?</h4>
<p><span>A.</span> because your homeowners insurance policy encourages you to file a claim any time that you have sudden accidental damages to your property.</p>
<h4><span>Q.</span> It seems a waste of time. l can't see any roof damage and a roofer said the damages was minimal. does Modern Storm Solution contractor think l should still file a claim?</h4>
<p><span>A.</span> Yes we do! The roofer is not properly trained to inspect the minimal cosmetic type damages that hail can cause ...., only your insurance adjuster and other claim professionals can determine the exent of the damage.</p>
</div>]]></pageContent>
    </ModernStormSolutions_Base>
    <ModernStormSolutions_Base id="1064" parentID="1059" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="5" createDate="2011-04-05T00:58:02" updateDate="2011-04-05T01:02:15" nodeName="Contact Us" urlName="contact-us" writerName="Patrick Herrington" creatorName="Patrick Herrington" path="-1,1059,1064" isDoc="">
      <pageTitle>Contact Modern Storm Solutions</pageTitle>
      <pageContent><![CDATA[<h2>KANSAS CITY:</h2>
<div>LICENSE # 09980-00809</div>
<div>9205 E. 44 St</div>
<div>Kansas City, MO 64133
<div>(816) 277-2934</div>
<div><a href="mailto:info@trustmss.com">info@trustmss.com</a></div>
<div><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9205+E.+44+St+Kansas+City,+MO+64133+&amp;sll=37.702396,-97.389679&amp;sspn=0.003837,0.006899&amp;ie=UTF8&amp;ll=39.044569,-94.471929&amp;spn=0.007533,0.013797" target="_blank">Map It</a></div>
<br /> <br /> <br />
<h2>WICHITA KANSAS:</h2>
<div>LICENSE .# 7369</div>
<div>953 N. WEST ST</div>
<div>Wichita, KS 67203</div>
<div>(316) 946-5944</div>
<div><a href="mailto:info@trustmss.com">info@trustmss.com</a></div>
<div><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=953+N+WEST+ST,+Wichita,+Sedgwick,+Kansas+67203&amp;sll=37.0625,-95.677068&amp;sspn=31.509065,56.513672&amp;ie=UTF8&amp;cd=1&amp;geocode=FcdFPwIdkPMx-g&amp;split=0&amp;ll=37.702396,-97.389679" target="_blank">Map It</a></div>
</div>]]></pageContent>
    </ModernStormSolutions_Base>
  </ModernStormSolutions_Base>
</root>