<%@ Master Language="C#" MasterPageFile="/masterpages/SiteBuilder.master" AutoEventWireup="true" %>
<asp:content ContentPlaceHolderId="headContent" runat="server">
	
</asp:content>

<asp:content ContentPlaceHolderId="bodyContent" runat="server">
	<ul>
		<li>a product</li>
	</ul>
</asp:content>