

/*
------------------------------------------------------------------  Color Help  ----------------------------------------------------------------------------
http://www.colorhunter.com/


------------------------------------------------------------------  Cantarell Font  ------------------------------------------------------------------------
'MerriweatherRegular'


------------------------------------------------------------------  England Font  --------------------------------------------------------------------------
'EnglandHandDBRegular'


------------------------------------------------------------------  Josefin Font  --------------------------------------------------------------------------
'JosefinSlabThin'
'JosefinSlabThinItalic'
'JosefinSlabLight'
'JosefinSlabLightItalic'
'JosefinSlabRegular'
'JosefinSlabItalic'
'JosefinSlabSemiBold'
'JosefinSlabSemiBoldItalic'
'JosefinSlabBold'
'JosefinSlabBoldItalic'


*/


/*
--------------------------------------------------------------------  BEGIN BROWSER RESET  -----------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend
{
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration:none;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
body
{
    background-color: #fff;
    line-height: 1;
    color: #000;
}
ol, ul
{
    list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table
{
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td
{
    font-weight: normal;
    text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after
{
    content: "";
}
blockquote, q
{
    quotes: "" "";
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix
{
    display: inline-block;
}

html[xmlns] .clearfix
{
    display: block;
}

* html .clearfix
{
    height: 1%;
}
/*
--------------------------------------------------------------------  END BROWSER RESET  -------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN BASE LAYOUT  -------------------------------------------------------------------
*/

div.page
{
    width:943px;
    margin:0 auto;
    border:3px solid #3F3890;
    font-family:'MerriweatherRegular';
    font-size:12px;
    border-radius:3px;
}
div.page div.wrapper
{
    background:#fff url('../images/bar_splice.png') repeat-x 0px -460px;
    margin:1px;
    border:1px solid #3F3890;
    border-radius:1px;
}
div.page div.content
{
    min-height:705px;
    margin-top:-20px;
    padding:0px;
    padding-left:20px;
    padding-right:20px;
}
a.selected
{
    border-bottom:1px solid #ddd;
}

/*
--------------------------------------------------------------------  END BASE LAYOUT  --------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN LOGO  -------------------------------------------------------------------------
*/

div.page div.logo div.text
{
    position:absolute;
    z-index:100;
    padding-top:20px;
    color:#ddd;
    padding-left:20px;
    width:920px;
    font-family:'JosefinSlabBold';
    font-size:14px;
    color:#ddd;
}
div.page div.logo div.text a
{
    font-family:'JosefinSlabBold';
    font-size:14px;
    color:#ddd;
}
div.page div.logo div.text div.smallBusiness
{
    font-family:'MerriweatherRegular';
    font-size:45px;
}
div.page div.logo div.text div.websiteSolutions
{
    font-family:'MerriweatherRegular';
    font-size:35px;
}
div.page div.logo div.text div.ofKansasCity
{
    font-family:'EnglandHandDBRegular';
    font-size:24px;
    margin-left:165px;
}
div.page div.logo div.text div.callToAction
{
    padding-right:20px;
    float:right;
}
div.page div.logo div.text div.callToAction ul li
{
    text-transform:uppercase;
    float:left;
}
div.page div.logo div.text div.callToAction ul li.spacer
{
    margin-left:10px;
    margin-right:10px;
    margin-top:-1px;
}
div.page div.logo img
{
    position:relative;
    z-index:1;
}

/*
--------------------------------------------------------------------  END LOGO  ---------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN MAIN MENU  ---------------------------------------------------------------------
*/

div.page div.content div.menu-main
{
    width:100%;
    color:#ddd;
    font-family:'JosefinSlabBold';
    font-size:14px;
    margin-bottom:20px;
}
div.page div.content div.menu-main a
{
    color:#ddd;
    font-family:'JosefinSlabBold';
}
div.page div.content div.menu-main ul
{
    float:right;
}
div.page div.content div.menu-main ul li
{
    position:relative;
    z-index:100;
    text-transform:uppercase;
    float:left;
}
div.page div.content div.menu-main ul li.spacer
{
    margin-left:10px;
    margin-right:10px;
    margin-top:-1px;
}

/*
--------------------------------------------------------------------  END MAIN MENU  ----------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BDGIN MAIN CONTENT  -----------------------------------------------------------------
*/

div.page div.content div.mainContent div.singleColumn
{
    margin-bottom:20px;
}
div.page div.content div.mainContent div.threeColumn
{
    float:left;
    width:285px;
    margin-right:20px;
}
div.page div.content div.mainContent div.col-3
{
    margin-right:0px;
}
div.page div.content div.mainContent h2.sectionTitle
{
    background:url('../images/bar_splice.png') repeat-x 0px -45px;
    background-color:transparent;
    font-size:16px;
    padding:5px;
    padding-left:15px;
    font-family:'MerriweatherRegular';
    font-weight:bold;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#ddd;
    font-size:19px;
}
div.page div.content div.mainContent div.sectionContent 
{
    background:url('../images/bar_splice.png') repeat-x 0px -100px;
    padding:10px;
    border:2px solid #3F3890;
    color:#333;
    -moz-border-radius:10px;
    border-radius:10px;
}
div.page div.content div.mainContent div.singleColumn div.sectionContent
{
    margin-left:5px;
    margin-right:5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top:none;
}
div.page div.content div.mainContent div.threeColumn div.sectionContent
{
    height:200px;
}
/*
--------------------------------------------------------------------  END MAIN CONTENT  -------------------------------------------------------------------
*/
