

/*
------------------------------------------------------------------  Color Help  ----------------------------------------------------------------------------
http://www.colorhunter.com/


------------------------------------------------------------------  Cantarell Font  ------------------------------------------------------------------------
'MerriweatherRegular'


------------------------------------------------------------------  England Font  --------------------------------------------------------------------------
'EnglandHandDBRegular'


------------------------------------------------------------------  Josefin Font  --------------------------------------------------------------------------
'JosefinSlabThin'
'JosefinSlabThinItalic'
'JosefinSlabLight'
'JosefinSlabLightItalic'
'JosefinSlabRegular'
'JosefinSlabItalic'
'JosefinSlabSemiBold'
'JosefinSlabSemiBoldItalic'
'JosefinSlabBold'
'JosefinSlabBoldItalic'


*/


/*
--------------------------------------------------------------------  BEGIN BROWSER RESET  -----------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend
{
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration:none;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
body
{
    background-color: #fff;
    line-height: 1;
    color: #4e5c63;
}
ol, ul
{
    list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table
{
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td
{
    font-weight: normal;
    text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after
{
    content: "";
}
blockquote, q
{
    quotes: "" "";
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix
{
    display: inline-block;
}

html[xmlns] .clearfix
{
    display: block;
}

* html .clearfix
{
    height: 1%;
}
/*
--------------------------------------------------------------------  END BROWSER RESET  -------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN BASE LAYOUT  -------------------------------------------------------------------
*/
body
{
}
div.page
{
    background:#fff;
    width:960px;
    margin:0 auto;
    border:3px solid #ab8d73;
    font-family:'MerriweatherRegular';
    font-size:12px;
}
div.page div.wrapper
{
    margin:2px;
    border:2px solid #ab8d73;
}
div.page div.content
{
    position:relative;
    margin-top:235px;
    z-index:100;
}
div.page div.bar
{
    position:relative;
    z-index:100;
    width:100%;
    height:40px;
    background:url('../images/background_clear.png') repeat 0px 0px;
    border-top:1px solid #ab8d73;
    border-bottom:1px solid #ab8d73;
}

/*
--------------------------------------------------------------------  END BASE LAYOUT  --------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN LOGO  -------------------------------------------------------------------------
*/
div.page div.logo
{
    position:relative;
}
div.page div.logo img
{
    position:absolute;
    z-index:1;
    margin:0px;
}
div.page div.logo div.text
{
    position:absolute;
    z-index:100;
    font:normal 42px/42px 'MerriweatherRegular';
    padding-top:10px;
    padding-left:20px;
}
div.page div.logo div.text span.websiteSolutions
{
    display:block;
}
div.page div.logo div.text span.ofKansasCity
{
    display:block;
    font:normal 36px/36px 'EnglandHandDBRegular';
    margin-left:70px;
}
div.page div.logo div.callToAction
{
    position:absolute;
    z-index:100;
    margin-top:10px;
    width:100%;
}
div.page div.logo div.callToAction ul
{
    float:right;
    margin-right:10px;
}
div.page div.logo div.callToAction ul li
{
    float:left;
    margin-right:10px;
}
div.page div.logo div.callToAction ul li span
{
    font:normal 18px/18px 'JosefinSlabBold';
    color:#74797f;
}

/*
--------------------------------------------------------------------  END LOGO  ---------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN MAIN MENU  ---------------------------------------------------------------------
*/
div.page div.content div.menu-main
{
}
div.page div.content div.menu-main ul
{
    float:right;
    margin-right:20px;
    margin-top:11px;
}
div.page div.content div.menu-main ul li
{
    position:relative;
    z-index:100;
    text-transform:uppercase;
    float:left;
}
div.page div.content div.menu-main span
{
    font:normal 18px/18px 'JosefinSlabBold';
    color:#74797f;
}
div.page div.content div.menu-main ul li.spacer
{
    margin-left:10px;
    margin-right:10px;
    margin-top:-1px;
}

/*
--------------------------------------------------------------------  END MAIN MENU  ----------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BDGIN MAIN CONTENT  -----------------------------------------------------------------
*/

div.page div.content div.mainContent div.singleColumn
{
    margin:10px;
    margin-bottom:0px;
    margin-top:20px;
}
div.page div.content div.mainContent div.singleColumn .sectionContent
{
    width:100%;
}
div.page div.content div.mainContent div.threeColumn
{
    float:left;
    width:282px;
    border:1px solid #ab8d73;
    padding:10px;
    margin-bottom:20px;
}
div.page div.content div.mainContent div.col-2
{
    margin-right:10px;
    margin-left:10px;
}

/*
--------------------------------------------------------------------  END MAIN CONTENT  -------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN SITE MAP  ---------------------------------------------------------------------
*/

div.page div.sitemap ul.sectionContent
{
    background:#eee;
    border-top:1px solid #ab8d73;
}
div.page div.sitemap ul.sectionContent li
{
    float:left;
    width:50px;
    padding:20px;
}
div.page div.sitemap ul.sectionContent li ul li
{
    float:none;
    display:block;
    padding:0px;
}
div.page div.sitemap ul.sectionContent li ul li a span
{
    color:#74797f;
}

/*
--------------------------------------------------------------------  END SITE MAP  -----------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN HOME PRIMARY  -----------------------------------------------------------------
*/
div.page div.content div.mainContent div.homePrimary
{
    border:1px solid #ab8d73;
    margin-bottom:20px;
}
div.page div.content div.mainContent div.homePrimary .menu
{
    border-right:1px solid #ab8d73;
    float:left;
    width:249px;
}
div.page div.content div.mainContent div.homePrimary .sectionContent
{
    border-right:1px solid #ab8d73;
    float:left;
    width:430px;
    height:300px;
    background:#ccc;
    margin:0px;
}
div.page div.content div.mainContent div.homePrimary .callToAction
{
    float:left;
    width:249px;
}
div.page div.content div.mainContent div.homePrimary .menu li
{
    border-bottom:1px solid #000;
}
div.page div.content div.mainContent div.homePrimary .menu li.last
{
    border-bottom:none;
}
div.page div.content div.mainContent div.homePrimary .menu a
{
    height:49px;
    background:url('../images/primary-button.png') no-repeat 0px -50px;
}
div.page div.content div.mainContent div.homePrimary .menu li.last a
{
    height:50px;
}
div.page div.content div.mainContent div.homePrimary .menu a span
{
    font:normal 18px/18px 'MerriweatherRegular';
    color:#74797f;
    display:block;
    margin-left:40px;
    padding-top:17px;
}
div.page div.content div.mainContent div.homePrimary .callToAction li
{
    height:99px;
    background:#d9d9d9;
    border-bottom:1px solid #000;
}
div.page div.content div.mainContent div.homePrimary .callToAction li.last
{
    height:100px;
    border-bottom:none;
}
div.page div.content div.mainContent div.homePrimary .callToAction a
{
    font:normal 18px/18px 'MerriweatherRegular';
    color:#74797f;
    padding-top:40px;
    padding-left:100px;
}

/*
--------------------------------------------------------------------  END HOME PRIMARY  -------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN INTERIOR MENU  ----------------------------------------------------------------
*/

div.page div.content div.interior
{
    min-height:300px;
}
div.page div.content div.interior div.menu
{
    padding-top:10px;
    padding-left:20px;
    width:200px;
    float:left;
}
div.page div.content div.interior div.menu li
{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:1px #ab8d73 dashed;
}
div.page div.content div.interior div.menu a
{
    margin-left:10px;
    font:normal 18px/18px 'MerriweatherRegular';
    color:#74797f;
}
div.page div.content div.interior div.menu a:hover
{
    border-bottom:1px solid #74797f;
}
div.page div.content div.interior div.sectionContent
{
    font:normal 12px/18px 'MerriweatherRegular';
    margin:20px;
    width:470px;
    float:left;
    text-align:justify;
}
div.page div.content div.interior div.sectionContent h1
{
    font:normal 24px/30px 'MerriweatherRegular';
    color:#58ade1;
}
div.page div.content div.interior div.sectionContent h2
{
    font:normal 15px/18px 'MerriweatherRegular';
    color:#58ade1;
}
div.page div.content div.interior div.sectionContent p
{
    margin-bottom:10px;
}
div.page div.content div.interior div.sectionContent ul li
{
    margin-top:10px;
}
div.page div.content div.interior div.sectionContent ul ul li
{
    list-style:disc;
    margin:0px;
    margin-left:20px;
}
div.page div.content div.interior div.featured
{
    padding-top:10px;
    padding-right:20px;
    width:200px;
    float:left;
    color:#74797f;
}
div.page div.content div.interior div.featured ul li.callToAction
{
    background:#ccc;
    height:100px;
    margin-bottom:20px;
}
div.page div.content div.interior div.featured ul li.testimonial
{
    font:normal 18px/18px 'MerriweatherRegular';
    margin-top:20px;
    padding-top:10px;
    border-top:1px #ab8d73 dashed;
}
div.page div.content div.interior div.featured ul li.testimonial span.signature
{
    display:block;
    font:normal 18px/18px 'JosefinSlabItalic';    
    text-align:right;
}
/*
--------------------------------------------------------------------  END INTERIOR MENU  ------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------  BEGIN INTERIOR ----------------------------------------------------------------------
*/

div.page div.content div.interior div.interiorSectionContent
{
    font:normal 12px/18px 'MerriweatherRegular';
    color:#74797f;
    margin:20px;
    width:750px;
    float:left;
}

/*
--------------------------------------------------------------------  END INTERIOR ------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------  BEGIN PRICING ----------------------------------------------------------------------
*/

div.page div.content div.sectionContent .pricing table
{
    width:100%;
}
div.page div.content div.sectionContent .pricing table tr
{
    background:#eee;
}
div.page div.content div.sectionContent .pricing table tr.odd
{
    background:transparent;
}
div.page div.content div.sectionContent .pricing table tr.final td
{
    background:green;
    color:#fff;
}
div.page div.content div.sectionContent .pricing table tr.final,
div.page div.content div.sectionContent .pricing table tr.final td.feature
{
    background:transparent;
}
div.page div.content div.sectionContent .pricing table th
{    
    text-align:center;
    font:normal 14px/18px 'MerriweatherRegular';
    background:#ccc;
}
div.page div.content div.sectionContent .pricing table th.feature
{    
    background:transparent;
    padding:10px;
}
div.page div.content div.sectionContent .pricing table th.template
{    
    background:#aaa;
}
div.page div.content div.sectionContent .pricing table td
{    
    text-align:center;
}
div.page div.content div.sectionContent .pricing table td.feature
{    
    text-align:left;
    padding-bottom:10px;
    padding-top:10px;
}
div.page div.content div.sectionContent .pricing table .template
{    
    background:#aaa;
}

/*
--------------------------------------------------------------------  END PRICING ------------------------------------------------------------------------
*/
