.top
{
	width: 99%;
	height: 70px;
	position: fixed;
	padding: 5px;
	padding-top: 0px;
	z-index: 100;
}
.middle
{
	width: 95%;
	position: absolute;
	top: 70px;
	z-index: 99;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 75px;
	left: 2%;
	border-left: solid 1px #445533;
	border-right: solid 1px #445533;
	background-color: #eeffdd;
}
.bottom
{
	width: 99%;
	height: 10%;
	position: fixed;
	top: 90%;
	background-color: #ccc;
	padding: 5px;
	z-index: 100;
	display: none;
}

.top .logo
{
	height: 80px;
	float: left;
	width: 100%;
}
.top .logo a
{
	background-color: #111100;
	height: 100%;
	width: 100%;
	display: block;
	text-decoration: none;
}
.top .logo h1
{
	color: #eeffdd;
	font-size: 48px;
	display: block;
	padding-left: 10px;
	text-transform: lowercase;
	font-weight:bold;
	letter-spacing: -2px;
}
.top .logo h1 span
{
	color: #eeffdd;
	display:inline;
	font-weight:bold;
	margin:0px;
	padding:0px;
}
.top .logo h1 span.bold
{
	color: #445533;
}
.top .logo h1 span.semibold
{
	color: #99aa66;
}
.top .logo a h2
{
	color: #eeffdd;
	display: block;
	margin-left: 95px;
	margin-top: 5px;
	text-transform: none;
	letter-spacing: 1px;
	font-size:14px;
	font-weight:normal;
}
.top .menu
{
	background-color: #669955;
	height: 32px;
	margin-top: -33px;
	float: right;
}

.middle .adds
{
	float: left;
	width: 15%;
	height: 99%;
	position: relative;
	border-right: solid 1px #445533;
}
.middle .content
{
	float: left;
	width:60%;
	height: 99%;
	position: relative;
	border-right: solid 1px #445533;
}
.middle .featured
{
	float: left;
	width: 15%;
	height: 99%;
	position: relative;
}


.middle .content .contentWrapper
{
	padding-left: 10px;
	padding-right: 10px;
}















/************************************  MENU  ************************************/
.top .menu ul
{
}
.top .menu ul li
{
	display: block;
	float: left;
	border: solid 1px #445533;
	border-top:none;
}
.top .menu a
{
	color: #eeffdd;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.top .menu ul li:hover
{
	background-color: #eeffdd;
}
.top .menu ul li:hover li
{
	background-color: #669955;
}
.top .menu ul li:hover a
{
	color:#669955;
}
.top .menu ul li:hover li a
{
	color:#eeffdd;
}
.top .menu ul li ul
{
	display: none;
	margin-top: 1px;
}
.top .menu ul li ul li
{
	background-color: #669955;
	display: block;
	margin: 0;
	float: none;
}
.top .menu ul li:hover ul
{
	display: block;
}
.top .menu ul li li:hover
{
	background-color: #eeffdd;
}
.top .menu ul li li:hover a
{
	color:#669955;
}














/************************************  SEARCH  ************************************/
.search
{
	
}
.search .listings
{
	
}
.search a.view
{
	text-decoration:none;
	font:inherit;
	color:inherit;
}
.search .listings li.listing 
{
	float:left;
	margin-right:2.5%;
	margin-left:2.5%;
	width:40%;
	padding:2%;
	padding-bottom:1%;
	padding-top:1%;
	border:solid 2px #445533;
}
.search .listings li h2
{
	padding-bottom:1%;
	margin-bottom:1%;
	border-bottom:solid 3px #669933;
}
.search .listings li .image
{
	margin-bottom:2%;
	width:50%;
	float:left;
}
.search .listings li .image img
{
	padding:2%;
	width:100%;
	border:solid 1px #669933;
}
.search .listings li .ratings
{
	width:45%;
	margin-left:5%;
	float:left;
}
.search .listings li .ratings li li
{
	font-size:10px;
}
.search .listings li .ratings li li
{
	font-size:8px;
}
.search .listings li .ratings li
{
	border:none;
}
.search .listings li .details
{
	border-bottom:3px solid #669933;
}
.search .listings li .details li
{
	font-size:16px;
	border:none;
	margin:0px;
	padding:0px;
	float:left;
}
.search .listings li .details li h2
{
	border:none;
}









