<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>

]>
<root id="-1">
  <Base id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1043" sortOrder="2" createDate="2010-12-21T14:12:53" updateDate="2010-12-21T21:14:53" nodeName="RateABud" urlName="rateabud" writerName="Administrator" creatorName="Administrator" path="-1,1050" isDoc="">
    <Product id="1054" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1051" template="1052" sortOrder="1" createDate="2010-12-21T23:43:12" updateDate="2010-12-21T23:43:19" nodeName="Medical Marijuana" urlName="medical-marijuana" writerName="Administrator" creatorName="Administrator" path="-1,1050,1054" isDoc="" />
  </Base>
</root>