<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Test ANY>
<!ATTLIST Test id ID #REQUIRED>

]>
<root id="-1">
  <Test id="1044" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1042" template="1043" sortOrder="2" createDate="2010-12-20T02:31:09" updateDate="2010-12-20T02:32:38" nodeName="RateABud" urlName="rateabud" writerName="Administrator" creatorName="Administrator" path="-1,1044" isDoc="" />
</root>