<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>

]>
<root id="-1">
  <Base id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1043" sortOrder="2" createDate="2010-12-21T14:12:53" updateDate="2010-12-21T21:14:53" nodeName="RateABud" urlName="rateabud" writerName="Administrator" creatorName="Administrator" path="-1,1050" isDoc="">
    <Base id="1055" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2010-12-26T18:09:06" updateDate="2010-12-26T18:11:32" nodeName="Medical Marijuana" urlName="medical-marijuana" writerName="Administrator" creatorName="Administrator" path="-1,1050,1055" isDoc="">
      <Base id="1056" parentID="1055" level="3" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2010-12-26T18:10:59" updateDate="2010-12-26T18:11:32" nodeName="Search" urlName="search" writerName="Administrator" creatorName="Administrator" path="-1,1050,1055,1056" isDoc="" />
      <Base id="1057" parentID="1055" level="3" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2010-12-26T18:11:09" updateDate="2010-12-26T18:11:32" nodeName="Suggest" urlName="suggest" writerName="Administrator" creatorName="Administrator" path="-1,1050,1055,1057" isDoc="" />
    </Base>
  </Base>
</root>