/* CSS Document */
* { margin:0; padding:0;}
html, body { height:100%; }
body {font-size:100%; line-height:1em; text-align:center; background:#ffffff;}
html, input, textarea
  {  font-family:Arial; 
    color:#1d2328;
  }  
/*---------------------------------------------------------------------------------------------------------------------TEGS*/
a img{ border:0px}
img{ vertical-align:top}
strong{ color:#9f3b0f;}
a{ color:#9f3b0f; text-decoration:underline} 
a:hover{ text-decoration:none}
em{ font-style:normal; color:#1d2328; font-size:1.2em; line-height:1.4em; margin:0 0 15px 0px; display:block}
.clear { clear:both;}
/*----------------------------------------------------------------------------------------------------------------------------UL*/
ul{margin:0; padding:0; list-style:none; line-height:17px; color:#1d2328; font-size:0.92em;}
ul li{background:url(images/bg_ul.gif) bottom left repeat-x; margin:15px 0 0px 0px; padding:0 0 10px 0px; }
ul li a{color:#9f3b0f; text-decoration:underline; font-weight:bold; font-size:1.18em;} 
ul li a:hover { text-decoration:none; color:#4c9de2 }
ul li div{ background:url(images/bg_list.gif) top left no-repeat; padding:0 0 0px 21px;}
.bg_none{ background:none;}

.list{margin:0px; padding:0px; list-style:none; line-height:17px;}
.list li{ margin:0px; background:url(images/bg_list_small.gif) center left no-repeat; padding:0 0 0 12px}
.list li a{color:#9f3b0f; text-decoration:none; font-size:1.083em; background:url(images/bg_decoration.gif) bottom left repeat-x; font-weight:normal} 
.list li a:hover { text-decoration:none; color:#fda127 }
/*==========================================================================================================================HEADER=======*/
#header {height:459px; color:#a4b6c0; font-size:0.75em}
#header .top{ height:131px; background:url(images/bg_top.gif) top left repeat-x; word-spacing:7px;}
#header .top p{ padding:65px 0 0 0px; text-align:right}
#header a{ color:#505e66; text-decoration:none; word-spacing:normal}
#header a:hover{ text-decoration:underline}
#header .logo{ position:absolute; margin:17px 0 0 0px }
#header .pic{ float:left; margin:0 4px 0 0px}
/*===========================================================================================================================CONTENT=======*/
#content{ font-size:0.75em; width:100%; text-align:left}
#content .title{ display:block; margin:0 0 17px 0px}
#content .title1{ display:block; margin:0 0 16px 0px}
#content .indent{ padding:24px 20px 43px 24px}
#content .indent1{ padding:21px 20px 43px 16px}
#content .pic_left{ float:left; margin:0px 17px 0px 0px}
#content .border{ border:1px solid #b7bbc1}
#content .border1{ border:1px solid #b7bbc1;}
#content .width_100{ width:100%}
#content .pic{ display:block; margin:0px 0px 12px 0px}
#content span a{ color:#9f3b0f; text-decoration:none; background:url(images/bg_decoration.gif) bottom left repeat-x; font-size:1.083em} 
#content span a:hover{ text-decoration:none; color:#fda127}

#content .color{ background:url(images/bg_color.gif) bottom left repeat-x #ebf2f7;}
#content .bg_color_left{ background:url(images/bg_color_left.gif) top left repeat-y}
#content .bg_color_right{ background:url(images/bg_color_right.gif) top right repeat-y}
#content .bg_color_top{ background:url(images/bg_color_top.gif) top left repeat-x}
#content .bg_color_bot{ background:url(images/bg_color_bot.gif) bottom left repeat-x}
#content .y_top_left{ background:url(images/y_top_left.gif) top left no-repeat; height:100%; width:100%}
#content .y_top_right{ background:url(images/y_top_right.gif) top right no-repeat; width:100%; height:100%}
#content .y_bot_left{ background:url(images/y_bot_left.gif) bottom left no-repeat; height:100%; width:100%}
#content .y_bot_right{ background:url(images/y_bot_right.gif) bottom right no-repeat; height:100%; width:100%}

#content .indent_color{ padding:19px 10px 0px 13px;}
#content .indent_color1{ padding:19px 10px 26px 24px}
#content .indent_color2{ padding:19px 10px 40px 12px}
/*===========================================================================================================================CONTENT CLASS=======*/
#page1 #content .col1 .title{ margin:0 0 23px 0px}
#page1 #content .col1 p{ margin:5px 0 0 0px}

#page2 #content .col1 p{ margin:16px 0 11px 0px}
#page2 #content .col3 p{ margin:5px 0 10px 0px}

#page3 #content .col1 .box_1{ padding:27px 0 0px 0px}
#page3 #content .col1 .box_1 p{ margin:2px 10px 17px 0px}
#page3 #content .col1 .box_2{ padding:22px 0 0 0px}
#page3 #content .col1 .box_2 p{ margin:2px 0px 20px 0px}
#page3 #content .col3 p{ margin:1px 0 9px 0px}

#page4 #content .col1 p{ margin:16px 5px 11px 0px}
#page4 #content .col3 p{ margin:2px 0px 19px 0px}
#page4 #content .col3 .p1{ margin:18px 0 17px 0px}

#page5 #content .col1 p{ margin:0px 5px 23px 0px}

#page6 #content .col1 p{ margin:0px 15px 20px 0px}
#page6 #content .col1 a{ color:#1d2328; text-decoration:none; background:url(images/bg_decoration.gif) bottom left repeat-x}
#page6 #content .col1 a:hover{ text-decoration:none; color:#fda127}


/*============================================================================================================================FOOTER=======*/
#footer { height:88px; padding:21px 0 50px 2px; color:#505e66; font-size:0.75em }
#footer p{ margin:0 0 0 215px; float:left}
#footer a {color:#505e66; text-decoration:underline; font-weight:bold}  
#footer a:hover {  text-decoration:none}
#footer span{ word-spacing:6px; float:left}
#footer span a {color:#505e66; text-decoration:none; word-spacing:normal; font-weight:normal}  
#footer span a:hover {  text-decoration:underline}



/*============================================================================================================================FORM=======*/
.fright { float:right;}
.contacts_box { padding:0 45px 0 0px}

.h_f{ height:27px;}
.h{ height:19px; width:210px; margin:0px; padding:0 0 0 4px}
.indent_form{ margin:0 14px 0px 146px}


input{
   background:none;
   border:1px solid #b7bbc1;
   font-family:Arial;
   color:#1d2328;
   font-size:1em
}
textarea{
   background:none;
   border:1px solid #b7bbc1;
   width:224px; height:100px;
   font-family:Arial;
   color:#1d2328;
   font-size:1em;
   margin:0 0 10px 0px;
   padding:0 0 0 4px;
   overflow:auto}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
